{% extends "layouts/baseadmin.html" %}

{% block page_title %}{% endblock %}

{% block content %}
	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">

              <div class="widget wred">
                <div class="widget-head">
                  <div class="pull-left"></div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

                    <!-- Profile form -->

                                    <div class="form profile" >


<a href= '/showmalek/'  class="btn btn-default">نمایش مالکین ثبت شده</a>
    <p></p>
    <p></p>
<a href= '/sabtemalek/' class="btn btn-default">ثبت مالک جدید<a>
                                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
		  </div>



{% endblock content %}


















