{% extends "layouts/baseadmin.html" %}

{% block page_title %}{% endblock %}

{% block content %}
    {% for i in lst %}
        <h1>{{ i }}</h1>
    {% endfor %}
	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">

              <div class="widget wred">
                <div class="widget-head">
                  <div class="pull-left"></div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

                    <!-- Profile form -->

                                    <div class="form profile" >

        <form action="/savemalek/" method="post">
            {% csrf_token %}

                         {%for msg in Msg %}
                <p>پیغام ها:</p>
            <p style="background-color:limegreen "> {{msg}} </p>
            {% endfor %}
                    <div class="form-group">
                <label for="mellicode">کد ملی</label>
                <input type="text" class="form-control" value="{{ Malek.mellicode }}" id="mellicode" name="mellicode" placeholder="کد ملی<">
            </div>
                    <div class="form-group">
                <label for="pass1">پسورد</label>
                <input type="text" class="form-control" value="{{ Malek.pass1 }}" id="pass1" name="pass1" placeholder="پسورد">
            </div>
            <div class="form-group">
                <label for="fn">نام:</label>
                <input type="text" class="form-control" value="{{ Malek.fn }}" id="fn" name="fn" placeholder="نام">
            </div>
            <div class="form-group">
            <label for="ln">نام خوانوادگی:</label>
            <input type="text" class="form-control" id="ln" value="{{ Malek.ln }}" accept="" name="ln" placeholder="نام خوانوادگی:">
        </div>
            <div class="form-group">
                <label for="pelak">پلاک واحد</label>
                <input type="text" class="form-control" id="pelak" value="{{ Malek.pelak }}" accept="" name="pelak" placeholder="پلاک">
            </div>
        <div class="form-group">
                <label for="startdate">تاریخ شروع سکونت</label>
                <input type="date" class="form-control" id="startdate" value="{{ Malek.startdate }}" accept="" name="startdate" placeholder=">تاریخ شروع سکونت">
            </div>
        <div class="form-group">
                <label for="enddate">تاریخ پایان قرارداد</label>
                <input type="date" class="form-control" id="enddate" value="{{ Malek.enddate }}" accept="" name="enddate" placeholder="تاریخ پایان قرارداد<">
            </div>
            <div class="form-group">
                <label for="telephon">تلفن</label>
                <input type="text" class="form-control" id="telephon" value="{{ Malek.telephon }}" accept="" name="telephon" placeholder="تلفن">
            </div>

            <p>نوع کاربر </p>

            <div class="form-group">

            <select class="form-control"value="{{ Malek.admin }}" id="admin" name="admin">
                <option>admin</option>
                <option>user</option>

            </select>

            <p>نوع مالکیت</p>

            <div class="form-group">

            <select class="form-control"value="{{ Malek.malektype }}" id="malektype" name="malektype">
                <option>مستاجر</option>
                <option>مالک</option>



            </select>
        </div>

            <input type="submit" value="save" class="btn btn-default" >
            <input type="hidden" name="newmalek" value="{% if Malek %}F{% else %}T{% endif %}">
            <input type="hidden" value="{{ Malek.mellicode }}"name="oldmalek">

        </form>
                                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
		  </div>

{% endblock content %}