{% extends "layouts/baseadmin.html" %}

{% block page_title %}{% endblock %}

{% block content %}
 <!-- Matter -->

	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">

              <div class="widget wred">
                <div class="widget-head">
                  <div class="pull-left">جستحو</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

                    <!-- Profile form -->

                                    <div class="form profile">
                                      <!-- Edit profile form (not working)-->
                                      <form class="form-horizontal" action="/showfindedmalek/" method="post">
                                          {% csrf_token %}
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="fn">نام</label>
                                            <div class="col-lg-6">
                                              <input type="text" class="form-control" value="{{ Malek.fn }}" name="fn" id="fn">
                                            </div>
                                          </div>
                                          <!-- Email -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="ln">نام خوانوادگی</label>
                                            <div class="col-lg-6">
                                              <input type="text" class="form-control" value="{{ Malek.ln }}"name="ln" id="ln">
                                            </div>
                                          </div>


                                          <!-- Username -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="mc">کد ملی</label>
                                            <div class="col-lg-6">
                                              <input type="text" class="form-control" value="{{ Malek.mellicode }}"name="mc" id="mc">
                                            </div>
                                          </div>


                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
											 <div class="col-lg-6 col-lg-offset-1">
												<input type="submit" value="find" class="btn btn-danger" >

											</div>
                                          </div>
                                      </form>
                                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
		  </div>

		<!-- Matter ends -->

{% endblock content %}