{% extends "layouts/base.html" %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered table-striped ">

                <tbody class="">
                <tr>
                    <th>
                        emil
                    </th>


                    <th>
                     pass
                    </th>


                    <th>
                       ac
                    </th>
                <th>other</th>
                <th>other</th>

                    {% for s in p %}
                        <tr>
                           <td>{{ s.emil }}</td>

                           <td>{{ s.pelak }}</td>
                            <td>{{ s.pw }}</td>


                            <td>{{ s.ac }}</td>
                            <td> <a href= "{% url 'myapp.views.delete' s.emil %}" class="btn"> delete</a>  </td>
                           <td> <a  href= "{% url 'myapp.views.edituser' s.emil %}"class="btn"> edit</a>  </td>


                        </tr>
                    {% endfor %}

                </tr>
            </tbody>
</table>
        </div>
        </div>
{% endblock content %}