{% extends "layouts/baseadmin.html" %}

{% block page_title %}{% endblock %}

{% block content %}
    {% for i in lst %}
        <h1>{{ i }}</h1>
    {% endfor %}
	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">

              <div class="widget wred">
                <div class="widget-head">
                  <div class="pull-left">ثبت</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

                    <!-- Profile form -->

                                    <div class="form profile" >

        <form action="/savecost/" method="post">
            {% csrf_token %}
                         {%for msg in Msg %}
                <p>پیغام ها:</p>
            <p style="background-color:limegreen "> {{msg}} </p>
            {% endfor %}

                    <div class="form-group">
                <label for="costn">مبلغ هزینه</label>
                <input type="text" class="form-control" value="{{ Cost.costn }}" id="costn" name="costn" placeholder="هزینه ">
            </div>
            <div class="form-group">
            <label for="regnum">شماره ثبت</label>
            <input type="text" class="form-control" id="regnum" value="{{ Cost.regnum }}" accept="" name="regnum" placeholder="شماره ثبت">
        </div>

        <p>>سر فصل هزینه</p>

            <div class="form-group">

            <select class="form-control"value="{{ Cost.costfor }}" id="costfor" name="costfor">
                <option>شارژ ماهیانه ساختمان</option>
                <option>استخر</option>
                <option>پارکینگ</option>
             </select>


        <div class="form-group">
                <label for="startdate">تاریخ ایجاد هزینه</label>
                <input type="date" class="form-control" id="startdate" value="{{ Cost.startdate }}" accept="" name="startdate" >
            </div>
        <div class="form-group">
                <label for="enddate">مهلت پرداخت</label>
                <input type="date" class="form-control" id="enddate" value="{{ Cost.enddate }}" accept="" name="enddate" placeholder="تاریخ پایان قرارداد<">
            </div>
            <p>برای واحد خاص</p>

            <div class="form-group">

            <select class="form-control"value="{{ Cost.special }}" id="special" name="special">
                <option>Yes</option>
                <option>No</option>



            </select>
                            <div class="form-group">
            <label for="pelak"> پلاک</label>
            <input type="text" class="form-control" id="pelak" value="{{ Cost.pelak }}" accept="" name="pelak" >
        </div>
        </div>
            <input type="submit" value="save" class="btn btn-default" >
            <input type="hidden" name="newcost" value="{% if Cost %}F{% else %}T{% endif %}">
            <input type="hidden" value="{{ Cost.regnum }}"name="oldcost">

        </form>
                                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
		  </div>
{% endblock content %}